.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: #fff;
    color: #090937;
    padding: 10px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    z-index: 150;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.05);

    .header-home,
    .header-units {
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    .header-units,
    .header-home {
        &__link {
            display: flex;
            align-items: center;
            gap: 10px;
            font-family: cursive;
            color:#333;
            text-decoration: none;

            &__image {
                color: #333;
            }

        }
    }
}

.page-title {
    position: relative;
    top: 85px;
    display: flex;
    justify-content: center;
    color: #2f2f2f;
}
