<div class="costs-filter-section">
    <fieldset>
        <legend>
            <img src="assets/icons/funnel.svg" width="32" height="32" alt="Filter Ages"> 
            <span>Costs</span>
        </legend>
        <div class="chip-group" role="radiogroup">
            <div class="chip chip-checkbox" [class.selected]="selectedCostFilters[option].selected" *ngFor="let option of costFilterOptions">
                <div class="range-input-label" (click)="toggleFilters(option)">
                    <img [src]="'assets/icons/'+ option + '.svg'" width="24" height="24" [alt]="option"> 
                    <span id="category-{$i}">{{ option }}</span>
                </div>
                <div class="range-input">
                    <input type="range" [id]="'unit_range_' + option" min="0" max="200" value="0"
                        (change)="onRangeChange($event, option)"
                        [disabled]="!selectedCostFilters[option].selected">
                </div>
            </div>
        </div>
    </fieldset>
</div>
